.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

body {
    color: white;
}

.item {
    border-radius: 20px;
    margin: 5vw;
    height: 10vh;
    text-align: center;
}

header {
    background-color: darkmagenta;
}
main {
    background-color: mediumspringgreen;
    justify-content: space-evenly;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 20px;
    height: 50vh;
}

article {
    background-color: maroon;
    margin: 5vw;
}

aside {
    background-color: cornflowerblue;
}

footer {
    background-color: orange;
}

@media (min-width: 769px){
    .container{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-content: space-evenly;
        padding: 2px;
    }

    .item{
        margin: 2px;
        padding: 2px;
    }

    header, footer{
        flex-basis:100%;
    }
    
    main {
        flex-basis:50%;
        align-content: center;
        justify-content: center;
    }

    aside{
        flex-basis: 25%;
        min-height:300px;
    }

}